

/* Ionicons (icons) */
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/* Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic,300italic,300|Source+Sans+Pro:400,300italic,300,400italic,700,700italic);
/*
  font-family: 'Open Sans', sans-serif;
*/


/**** I : Base ****/
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	background: #fefefe;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	font-size: 1rem;
	letter-spacing: 0.04em;
	color: #000;
}
@media (min-width: 740px){
	html{
		font-size: 18px;
	}
}
a{
	text-decoration: none;
}
.img-responsive{
	max-width: 100%;
}

/* Headings */
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 15px auto; /* Margin-v */
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 2.0rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.3rem;
}

/* Paragraf */
p{
	line-height: 1.5em;
	margin: 15px 0; /* Margin-v */
}

/**** II : Layout ****/
section{
	background: peachpuff;
	padding: 50px 0;
}
@media (min-width: 740px){
	section{
		padding: 100px 0;
	}
}


/**** Portfolio ****/
.portfolio{
	background: brown;
}
.item{
	padding: 0;
	color: #fff;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	cursor: pointer;
}
.item:nth-child(1) {
	background-image: url("https://unsplash.it/1000/500?image=14");
}
.item:nth-child(2) {
	background-image: url("https://unsplash.it/1000/500?image=10");
}
.item:nth-child(3) {
	background-image: url("https://unsplash.it/1000/500?image=11");
}
.item:nth-child(4) {
	background-image: url("https://unsplash.it/1000/500?image=12");
}
.item:nth-child(5) {
	background-image: url("https://unsplash.it/1000/500?image=15");
}
.item:nth-child(6) {
	background-image: url("https://unsplash.it/1000/500?image=17");
}
.item-inner{
	position: relative; /* Needed for top value in positioning */

	background: rgba(0, 0, 0, 0.5);
	padding: 20px;

	/* Position it */
	top: -70px;
	transform: translateY(100%);
	transition: transform 0.5s,
				top 0.5s;
}

.item h2 {
	position: relative;
	display: inline-block;
	font-weight: 300;
	font-size: 1.5rem;
	margin: 0;
	padding-bottom: 10px;
	padding-right: 5px;
}
.item h2:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 100%;
	border-bottom: 2px solid #fff;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}
.item p {
	font-size: 1rem;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item:hover .item-inner{
	top: 0;
	transform: translateY(0%);
}
.item:hover h2:after {
	right: 0;
}
.item:hover p{
	opacity: 1;
}